<form method="post" action="{{ path('back_entitecollecte_delete', {'id': entitecollecte.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette entité ?');">
    <button class="btn btn-danger">Supprimer</button>
</form>
