body {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;}
=======
    background-color: skyblue;
}
>>>>>>> origin/Gestion-Rendezvous
=======
    background-color: skyblue;
}
>>>>>>> origin/gestion-don
