{% extends 'base.html.twig' %}

{% block title %}Nouvelle Campagne{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Campagne</h1>

    {{ include('compagne/_form.html.twig') }}

    <a href="{{ path('app_compagne_index') }}">Retour à la liste</a>
{% endblock %}
