<form method="post" action="{{ path('app_compagne_delete', {'id': compagne.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette campagne?');">
    <button class="btn" style="background-color: #dc3545;">Supprimer</button>
</form>
