{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entité de Collecte{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Entité de Collecte</h1>

    {{ include('entitecollecte/_form.html.twig') }}

    <a href="{{ path('app_entitecollecte_index') }}">Retour à la liste</a>
{% endblock %}
