{% extends 'base_front.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-xl-8">

      <div class="glass-card p-4 p-md-5">
        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
          <h2 class="m-0" style="font-weight:900;">
            <i class="fa-solid fa-user-pen me-2" style="color:var(--primary);"></i>
            Modifier l'utilisateur
          </h2>

          <a href="{{ path('app_user_index') }}" class="btn btn-outline-light rounded-pill">
            <i class="fa-solid fa-arrow-left me-2"></i>Retour à la liste
          </a>
        </div>


        {{ include('user/_form.html.twig', {
          form: form,
          button_label: 'Mettre à jour',
          title: "Modifier les informations de l'utilisateur"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
