{% extends 'base_front.html.twig' %}

{% block title %}Create New User{% endblock %}

{% block body %}
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-xl-8">

      {# Flash messages are already handled in base_front.html.twig,
         so you can REMOVE this block to avoid duplicates.
         If you want to keep it here, delete the flashes from base_front. #}
      {# {% for label, messages in app.flashes %}
        {% for message in messages %}
          <div class="alert alert-{{ label }} border-0 shadow-sm rounded-4 mb-4">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %} #}

      <div class="glass-card p-3 p-md-4">
        {{ include('user/_form.html.twig', {
          button_label: 'Create Account',
          title: 'Register New User'
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
